<include file="Index/header"/>
	<header>
		<a href="javascript:history.go(-1)" class="arrow-l"></a>
	  <h2><font id="_df17_car" style="">购物车</font></h2>
		<font id="CartLine"><a href="{:U('Goods/gley')}"><span class="cart-ico"><em class="goodtotal">{$count}</em></span></a></font>
	</header>
	<div class="cart-wrap">
		<if condition="$count eq 0">
    	<div class="no-content" id="myNoDataShowArea">
            <p>
            <font id="_df17_empty_car" style="">购物车还空着呢，快去挑选美味沙拉吧。</font>
            </p>
            <a href="{:U('Index/index')}">
	            <div class="no-btn">
	                <font id="_df17_go" style="">去逛逛</font>
	            </div>
            </a>
        </div>
        <else />
		<div class="choose-con cart-con" id="myDataShowArea">
			<ul id="CartProductList">
				<volist name="goods" id="good">
					<li>
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr class="cart-line">
									<td class="td-1 on">
										<span><img src="__WEBROOT__/{$good.gpic}"></span>
										<i></i>
									</td>
									<td class="td-2">
										<span class="ct-name">{$good.gname}</span>
										<span class="ct-per">
											￥<i class="goodprice">{$good.gprice}</i>/份 X<small>1</small>
										</span>
									</td>
									<td class="td-3 fl-clr">
										<em class="car-add-l"></em>
										<input type="text" value="{$good.goodnum}" readonly="" gid="{$good.gid}" glid="{$good.glid}" class="inpt-shu">
										<em class="car-add-r"></em>
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				</volist>
			</ul>
		</div>
		</if>
		<div class="other-con" id="OtherProductLine" style="display:none">
			<h2>其他伙伴还选购了以下商品，勾选即可加入购物车</h2>
			<div class="other-list" id="OtherProductList">
				
			</div>
		</div>
	</div>
    <div class="cart-bt">
		<div>
			<span class="amount on" id="AmountLine"><font id="_df17_counts" style="">数量：</font><font class="goodtotal">{$count}</font></span>
			<em><font id="_df17_totall_price" style="">总价</font>￥<i><font id="totalprice">{$totalprice}</font></i></em><input type="hidden" name="AmountStatus" id="AmountStatus" value="1">
		</div>
		<if condition="$count neq 0">
		<ul class="fl-clr" id="Bottom_Button_1">
			<li class="fl-left">
				<a href="{:U('Index/index')}"><span><font id="_df17_self_pick" style="">再来一份</font></span></a>
			</li>
			<li class="fl-right putorder">
				<span><font id="_df17_go_buy" style="">去下单</font></span>
			</li>
		</ul>
		<a href="{:U('Goods/goodlist',array('cname'=>'鲜榨果汁'))}" data="javascript:alert('敬请期待');">
		<div class="cart-btn-other" id="Bottom_Button_2"><font id="_df17_add_sank" style="">添加鲜榨果汁</font></div>
		</a>
		</if>
	</div> 
<script src="__WEBPUBLIC__/Home/js/config.js"></script>
<script src="__WEBPUBLIC__/Home/js/jweixin-1.0.0.js"></script>
<script src="__WEBPUBLIC__/Home/js/zepto.js" type="text/javascript"></script>
<script src="__WEBPUBLIC__/Home/js/touch.js" type="text/javascript"></script>
<!-- <script src="__WEBPUBLIC__/Home/js/wewing.token.js"></script>
<script src="__WEBPUBLIC__/Home/js/wewing.init.js"></script> -->
<script src="__WEBPUBLIC__/Home/js/cart.js"></script>
<script language="javascript">
var totalprice ={$totalprice}*100;
$(function(){
	$("#AmountLine").on('tap',function() {
		var self = $(this);
		if (self.hasClass("on")) {
			self.removeClass("on");
			$(".td-1").trigger("tap");
		}else{
			self.addClass("on");
			$(".td-1").trigger("tap");
		}
	});
	//下订单
	$(".putorder").on('tap',function(){
		var goods = [];
		$("td.td-1.on").each(function(){
			var siblings = $(this).siblings();
			var gprice = siblings.find(".goodprice").text();
			var inpt_shu = siblings.find(".inpt-shu");
			var gid = inpt_shu.attr("gid");
			var gnum = inpt_shu.val();
			var glid = inpt_shu.attr("glid");
			goods.push({
				"gid" : gid,
				"gnum" : gnum,
				"glid" : glid,
				"gprice" : gprice
			});
		});
		if (goods.length != 0) {
			$.ajax({
				url : "{:U('Order/addorder')}",
				type : "post",
				data : {"goods" : goods},
				dataType : "json",
				success : function(data){
					var res = JSON.parse(data);
					if (res.status && (res.status == "success")) {
						$(".goodtotal").text(0);
						$("inpt-shu").text(0);
						window.location.href = "{:U('Order/orderinfo')}/id/"+res.id;
					}else if (res.status && (res.status == "noadd")) {
						alert("请您返回添加收货地址，或者选择自提");
					}else{
						console.log(data);
					}
				}
			});
		}else{
			alert("商品个数不能为空");
		}
	});

	// $(".goodprice").each(function(){
	// 	var price = $(this).html();
	// 	var num = $(this).parent().parent().next().find(".inpt-shu").val();
	// 	totalprice +=( parseInt(price) * parseInt(num) );
	// });
	// $("#totalprice").html(totalprice/100);


	$(".td-1").on('tap',function(){
		var self = $(this);
		var num = parseInt(self.siblings().find(".inpt-shu").val());
		var goodtotal = $(".goodtotal");
		var total = parseInt(goodtotal.html());
		if (self.hasClass("on")) {
			totalprice= totalprice - parseInt(self.siblings().find(".goodprice").html() * 100 )*num;
			self.removeClass("on");
			total-=num;
		}else{
			totalprice= totalprice + parseInt(self.siblings().find(".goodprice").html() * 100)*num;
			self.addClass("on");
			total+=num;
		}
		goodtotal.html(total);
		$("#totalprice").html(totalprice/100);
	});
	$("td.td-3.fl-clr em").on('tap',function(){
		var self = $(this);
		var input =  self.siblings("input");
		var goodtotal = $(".goodtotal");
		var total = goodtotal.html();
		var num = input.val();
		if ( self.hasClass("car-add-l") ) {
			if (num > 0) {
				input.val(--num);
				self.parent().prev().find("small").html(num);
				if (self.parent().siblings(".td-1").hasClass("on")) {
					totalprice= totalprice - parseInt(self.parent().prev().find(".goodprice").html() * 100);
					$("#totalprice").html(totalprice/100);
					goodtotal.html(--total);
				}
				if (num == 0) {
					var glid = input.attr("glid");
					$.ajax({
						url : "{:U('Goods/delgley')}",
						type : "get",
						data : {"glid" : glid},
						dataType : "json",
						success : function (data) {
							if (data = "success") {
								self.parents("li").remove();
							}else{
								alert("删除失败！");
							}	
						}
					})
				};
			};
		};
		if ( self.hasClass("car-add-r") ) {
			input.val(++num);
			self.parent().prev().find("small").html(num);
			if (self.parent().siblings(".td-1").hasClass("on")) {
				totalprice= totalprice + parseInt(self.parent().prev().find(".goodprice").html() * 100);
				$("#totalprice").html(totalprice/100);
				goodtotal.html(++total);
			};
		};
	});
});
</script>
</body>
</html>