<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/invalid.css" type="text/css" media="screen" />
	<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/laydate/laydate.js"></script>
</head>
<body>
<div id="main-content">
	<div class="content-box">
		<!--头部切换-->
		<div class="content-box-header">
			<h3>配送时间</h3>
			<div class="clear"></div>
		</div>
		<div class="content-box-content">
			<div class="tab-content default-tab">
				<form action="{:U('Luggage/set')}" method="post" enctype="multipart/form-data">
					<fieldset>
						<p>
							<label>周六是否配送</label>
							<input type="radio" value="yes" name="setsix" <if condition="!empty($set['setsix']) && $set.setsix eq 'yes'">checked</if>/>是
							<input type="radio" value="no" name="setsix" <if condition="empty($set['setsix']) || $set.setsix eq 'no'">checked</if>/>否
						</p>
						<p>
							<label>周日是否配送</label>
							<input type="radio" value="yes" name="setsev" <if condition="!empty($set['setsev']) && $set.setsev eq 'yes'">checked</if>/>是
							<input type="radio" value="no" name="setsev" <if condition="empty($set['setsev']) || $set.setsev eq 'no'">checked</if>/>否
						</p>
						<p>
							<input class="button" type="submit" value="保存" />
							<span id="errormsg" style="color:red;float:right"></span>
						</p>
					</fieldset>
					<div class="clear"></div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
</script>
</body>
</html>