<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/invalid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/expand.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/facebox.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/trivial.jquery.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/simpla.jquery.configuration.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax_operate.js"></script>
</head>
<body>
<!--主页面-->
<div id="main-content">
    <div class="content-box">
        <!--提示-->
        <div class="notification success png_bg" style="display:none">
            <div></div>
        </div>
        <div class="notification error png_bg n-error" style="display:none">
            <div></div>
        </div>
        <!--头部切换-->
        <div class="content-box-header">
            <h3>文本回复编辑</h3>
            <ul class="content-box-tabs">
                <li><a href="#tab1" class="default-tab">编辑</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <div class="tab-content default-tab" id="tab1">
                <form action="{:U('WeiXinArticle/editTextBack')}" method="post" class="form">
                    <input type="hidden" name="wxa_id" value="{$text_back['wxa_id']}">
                    <fieldset>
                        <p>
                            <span class="label">关键词：　　</span>
                            <input class="text-input medium-input datepicker" type="text" name="wxa_keywords" value="{$text_back['wxa_keywords']}"/>*<br>
                            　　　　　　　<span style="color:#EC5B4D">多个关键词用空格隔开</span>
                        </p>
                        <p>
                            <span class="label">关键词类型：</span>
                            <input type="radio" name="wxa_keywords_type" value="1" <if condition="$text_back['wxa_keywords_type'] eq 1">checked</if>/>完全匹配
                            <input type="radio" name="wxa_keywords_type" value="0" <if condition="$text_back['wxa_keywords_type'] eq 0">checked</if>/>包含匹配
                        </p>
                        <p>
                            <span class="label">回答内容：　</span>
                            <textarea class="text-input textarea" name="wxa_description">{$text_back['wxa_description']}</textarea>*<br>
                            　　　　　　　<span style="color:#EC5B4D">请不要多于1000字。超链接范例：
                        <input class="text-input medium-input" type="text" value='<a href="http://www.baidu.com">百度</a>' style="border:none;color:#EC5B4D" disabled/>
                        </span>
                        </p>
                        <p>
                            <input class="button edit-btn" type="submit" value="保　存" />
                        </p>
                    </fieldset>
                    <div class="clear"></div>
                </form>
            </div>
            <!--表单 end-->
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        //删除类型
        $('.del').click(function(){
            if(confirm('确定要删除吗')){
                window.location.href = $(this).next('input').val();
            }
        });
    });
</script>
</html>
