<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理系统</title>
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/invalid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/expand.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/facebox.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/trivial.jquery.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/simpla.jquery.configuration.js"></script>
    <script type="text/javascript" src="__WEBPUBLIC__/Admin/js/ajax_operate.js"></script>
</head>
<body>
<!--主页面-->
<div id="main-content">
    <div class="content-box">
        <!--提示-->
        <div class="notification success png_bg" style="display:none">
            <div></div>
        </div>
        <div class="notification error png_bg n-error" style="display:none">
            <div></div>
        </div>
        <!--头部切换-->
        <div class="content-box-header">
            <h3>空回答时回复</h3>
            <ul class="content-box-tabs">
                <li><a href="#tab1" class="default-tab">回复内容</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!--表格内容-->
        <div class="content-box-content">
            <!--表单 start-->
            <div class="tab-content default-tab" id="tab1">
                <form action="{:U('WeiXinArticle/editNoneAnswerBack')}" method="post" class="form">
                    <fieldset>
                        <p>
                            <span style="color: red;font-size: 15px;font-weight: bold">触发时机：　　未查到匹配关键词的回答的时候将会触发此回复。</span>
                        </p>
                        <p>
                            <span class="label">回复文字内容：　</span>
                            <textarea class="text-input textarea" name="wxa_description">{$none_answer_back['wxa_description']}</textarea>
                        </p>
                        <p>
                            <span class="label">回复图文关键词：</span>
                            <input class="text-input medium-input datepicker" type="text" name="wxa_keywords" value="{$none_answer_back['wxa_keywords']}"/><br>
                            　　　　　　　　　<span style="color:#EC5B4D">注：只能填写一个关键词，此项如果填写，文字回复将会失效。此项为完全匹配</span>
                        </p>
                        <p>
                            <input class="button edit-btn" type="submit" value="保　存" />
                        </p>
                    </fieldset>
                    <div class="clear"></div>
                </form>
            </div>
            <!--表单 end-->
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
</html>
