<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport" />
	<link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Home/css/basic.css">
	<link rel="stylesheet" type="text/css" href="__WEBPUBLIC__/Home/css/style.css">
	
	
	<script type="text/javascript" src="__WEBPUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
	<script src="__WEBPUBLIC__/Home/js/jquery.cookie.js" type="text/javascript"></script>
	<title>餐品列表</title>
</head>

<body>
<div id="page_allMenu">
<div class="center">
<div id="navBar" class="panel">
	<dl>
		<volist name="cate_list" id="vo">
			<if condition="$vo['cate_id'] eq $cate_id">
				<dd class="active">
					<a href="{:U('Index/foodList',array('cate_id'=>$vo['cate_id']))}">{$vo.name}</a>
					<if condition="empty($cate_num[$vo['cate_id']])">
						<span style="display:none;"></span>
						<else/>
						<span style="display:block;">{$cate_num[$vo['cate_id']]}</span>
					</if>
				</dd>
				<else/>
				<dd>
					<a href="{:U('Index/foodList',array('cate_id'=>$vo['cate_id']))}">{$vo.name}</a>
					<if condition="empty($cate_num[$vo['cate_id']])">
						<span style="display:none;"></span>
						<else/>
						<span style="display:block;">{$cate_num[$vo['cate_id']]}</span>
					</if>
				</dd>
			</if>
		</volist>
	</dl>
</div>

<div id="infoSection" class="panel">
<div class="countlist">
<!--菜谱列表-->
<volist name="food_list" id="vo">
	<div class="list_list">
		<div class="list_one">
			<div class="list_listpic">
				<div class="list_showpic">
					<a href="javascript:void(0)"><img src="__WEBROOT__/Uploads/food/{$vo.pic}"></a>
				</div>
				<if condition="$vo['is_hot'] eq 1">
					<div class="list_lable"><img src="__WEBPUBLIC__/Home/images/list_1.png"></div>
				</if>
			</div>
			<div class="list_detail">
				<ul>
					<li>{$vo.name}</li>
					<li class="detailnum"><span>{$vo.price}</span>元/{$vo.unit}</li>
					<li class="dpnum"><span>{$vo.count}</span>人点过</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="list_add">
			<if condition="empty($food_num[$vo['fid']]['num'])">
				<input type="button" value="-" onclick="lowerFood('{$vo.fid}');" class="lower">
				<span class="text"></span>
				<else/>
				<input type="button" value="-" onclick="lowerFood('{$vo.fid}');" class="lower" style="display: inline;">
				<span class="text">{$food_num[$vo['fid']]['num']}</span>
			</if>
			<input type="button" value="+" onclick="addFood('{$vo.fid}');" class="add">
		</div>
	</div>
</volist>
<!--end-->
	
</div>
</div>
<div class="mylist"><a href="{:U('Index/myList')}">我点好了</a></div>
    <div class="myOldlist"><a href="{:U('Order/orderList')}">历史订单</a></div>
<div class="clear"></div>
</div>
</div>
<style>
	html,body { height:100%; overflow:hidden;width:100%;}
	/*.panel{position:absolute;top:0px;right:0px;bottom:0px; left:0px;}
	#navBar {width:22%;overflow-y: scroll;}
	#infoSection {width:78%;overflow-y: scroll;}*/
</style>

<script type="text/javascript">
	function addFood(fid){
		$.ajax({
			url:'{:U("Index/addFood")}',
			type:'post',
			data:{fid:fid},
			success:function(){
				
			}
		});
	}
	function lowerFood(fid){
		$.ajax({
			url:'{:U("Index/lowerFood")}',
			type:'post',
			data:{fid:fid},
			success:function(){

			}
		});
	}
	$(function(){
		
		
		
		$(".add").click(function(){
			$(this).parent().find(".lower").show();
			var text = $(this).prev(".text").text();
			text++;
			$(this).prev(".text").text(text);

			$('.active').find('span').show();
			var num=$('.active').find('span').text();
			num++;
			$('.active').find('span').text(num);
		});
		
		$(".lower").click(function(){
			var text = $(this).next(".text").text();
			text--;
			if(text<1){
				$(this).hide();
				$(this).next(".text").text('');
			}else{
				$(this).next(".text").text(text);
			}

			var num=$('.active').find('span').text();
			num--;
			if(num<1){
				$('.active').find('span').hide();
				$('.active').find('span').text('');
			}else{
				$('.active').find('span').text(num);
			}
		});
	});
</script>
</body>
</html>
