<include file="Index/header"/>
<style type="text/css">
	body{
		background: #005740;
    	padding-bottom: 52px;
	}
</style>
	<div class="index-top">
		<div class="banner">
			<div class="swipe">
				<ul class="swipe-wrap fl-clr" id="HomeFocusImgList" style="width: 375px; margin-left: 0px;"><li style="width: 375px;"><a href="javascript:;"><img src="__WEBPUBLIC__/Home/images/d4-img-1.jpg"></a></li></ul>
			</div>
			<ul class="position" id="HomeFocusImgIndex"><li class="cur"></li></ul>
		</div>
        <div class="index-hd">
			<i onclick="$(&#39;#HomeLeftNav&#39;).slideDown(&#39;slow&#39;);"></i>
			<div id="CartLine">
				<a href="{:U('Goods/gley')}">
					<span class="cart-ico">
						<em>{$count}</em>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="index-logo">
		<img src="__WEBPUBLIC__/Home/images/d4-logo.png" width="100%">
	</div>
	<a href="{:U('Index/diy')}">
		<div class="adv">
			<img src="__WEBPUBLIC__/Home/images/d4-tit-icon.png" width="32"><font id="_sala_diy" style="">沙拉DIY</font>
		</div>
	</a>
	<div class="nav">
    	<table>
			<tbody>
				<tr>
					<td class="homeNav nav-1">
						<a href="{:U('Index/saselect')}">
							<div>
								<img src="__WEBPUBLIC__/Home/images/nav-back.png" width="100%">
								<p><font id="_help_select" style="">帮选沙拉</font></p>
							</div>
						</a>
					</td>
					<td class="homeNav nav-2">
						<a href="{:U('Goods/goodlist',array('cname'=>'三明治'))}">
							<div>
								<img src="__WEBPUBLIC__/Home/images/nav-back.png" width="100%">
								<p id="HomeSubject_2">三明治</p>
							</div>
						</a>
					</td>
					<td class="homeNav nav-3">
						<a href="{:U('Goods/goodlist',array('cname'=>'健康饮品'))}">
							<div>
								<img src="__WEBPUBLIC__/Home/images/nav-back.png" width="100%">
								<p id="HomeSubject_3">健康饮品</p>
							</div>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
    <div class="bottom-menu"> 
		<ul class="bt-menu-inner fl-clr">
			<li>
				<span>到店自提</span>
			</li>
			<li>
				<span>送货上门</span>
			</li>
			
		</ul>
	</div>
    <include file="Index:menu"/>
<script src="__WEBPUBLIC__/Home/js/config.js"></script>
<script src="__WEBPUBLIC__/Home/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<!-- <script src="js/wewing.token.js"></script> -->
<!-- <script src="js/wewing.init.js"></script> -->
<script type="text/javascript" src="__WEBPUBLIC__/Home/js/jquery.picSlide.storeHome.js"></script>
<script type="text/javascript" src="__WEBPUBLIC__/Home/js/jquery.touchwipe.js"></script>
<script src="__WEBPUBLIC__/Home/js/home.js"></script>
<script language="javascript">
$(function(){

});
</script>

</body></html>