<div class="select-menu" style="display:none" id="HomeLeftNav">
	<span onclick="$(&#39;#HomeLeftNav&#39;).slideUp(&#39;fast&#39;);"></span>
	<ul>
		<li>
			<a href="{:U('Index/index')}" class="menu-ico ico-1"><font id="_df4_home" style="">首页</font></a>
		</li>
		<li>
			<a href="{:U('Goods/goodlist',array('cname'=>'帮选沙拉'))}" class="menu-ico ico-2"><font id="_df4_plan" style="">订餐</font></a>
		</li>
		<li>
			<a href="{:U('Index/diy')}" class="menu-ico ico-3"><font id="_df4_self_pick" style="">自选</font></a>
		</li>
		<li>
			<a href="{:U('Order/orderlist')}" class="menu-ico ico-4"><font id="_df4_order" style="">订单</font></a>
		</li>
		<!-- <li>
			<a href="{:U('Room/bulidshop')}" class="menu-ico ico-5"><font id="_df4_shop" style="">门店</font></a>
		</li> -->
		<li>
			<a href="{:U('User/self')}" class="menu-ico ico-6"><font id="_df4_mine" style="">我的</font></a>
		</li>
	</ul>
</div>