<include file="Index:header"/>
	<header>
		<a href="javascript:;" class="arrow-l" id="BackIcon"></a>
	  <h2><font id="_df39_title" style="">收货地址</font></h2>
		<font id="CartLine"><a href="{:U('Index/gley')}"></a><span class="cart-ico"><em>{$count}</em></span></font>
	</header>
    <div>
		<div class="addr-locat-3 fl-clr" style="display:none">
			<span>定位城市：<i>北京</i></span>
			<em><font id="_select_city" style="">选择城市</font></em>
		</div>
		<div class="addr-location-2" id="myPickupPointTitle">
			<font id="_tip_click" style="">到店自提，请选择提货点</font>
		</div>
		<div class="addr-list-wrap" id="myPickupPointList">
			<div class="addr-list after">
				<dl onclick="CRM_PI.UpdateDefaultAddressDo(&#39;22edab3e7c9745d6abc2ec82e2054846&#39;,&#39;CRM_PI.SetDefaultOrdersAddressDo&#39;);">
					<dt>
						<span>新城店</span>
						<i> (8:00-20:00)</i>
					</dt>
					<dd>北京朝阳区朝外大街6号（新城国际）26号楼底商103号</dd>
					<dd><em class="zt-city">朝阳区</em></dd>
				</dl>
				<em class="after-link on" onclick="CRM_PI.GoPickupPointMapShow(&#39;22edab3e7c9745d6abc2ec82e2054846&#39;,&#39;新城店&#39;,&#39;8:00-20:00&#39;,&#39;undefined&#39;,&#39;北京朝阳区朝外大街6号（新城国际）26号楼底商103号&#39;,&#39;116.462343000&#39;,&#39;39.923881000&#39;,&#39;12229515.808861604&#39;);">看地图</em>
			</div>
			<div class="addr-list after on">
				<dl onclick="CRM_PI.UpdateDefaultAddressDo(&#39;5edfe387a83e47c99d35c9caa62392d0&#39;,&#39;CRM_PI.SetDefaultOrdersAddressDo&#39;);">
					<dt>
						<span>望京soho店</span><i> (8:00-20:00)</i>
					</dt>
					<dd>望京SOHO 塔3底商3108</dd>
					<dd><em class="zt-city">朝阳区</em></dd>
				</dl>
				<em class="after-link on" onclick="CRM_PI.GoPickupPointMapShow(&#39;5edfe387a83e47c99d35c9caa62392d0&#39;,&#39;望京soho店&#39;,&#39;8:00-20:00&#39;,&#39;undefined&#39;,&#39;望京SOHO 塔3底商3108&#39;,&#39;116.487658000&#39;,&#39;40.002428000&#39;,&#39;12228909.669276461&#39;);">看地图</em>
			</div>
		</div>
		<div class="addr-location" id="myAddressTitle"><font id="_tip_click2" style="">送货上门，请选择您的收货地址</font></div>
		<div class="addr-list-wrap" id="myAddressList" style="display: none;">
		
		</div>
        <div class="addr-list addr-had had-2" id="myNoDataShowArea" style="">
            <dl>
                <dt>
                    <p><font id="_tip_no_address" style="">您尚未添加送货上门的收货地址，</font></p>
                    <p onclick="H5Method.JUMPUrl(&#39;/df39-1.html?renew_address=&#39;+H5Method.GUV(&#39;renew_address&#39;));"><font id="_tip_no_address2" style="">您可以现在去添加。</font></p>
                </dt>
            </dl>
        </div>
	</div>
	<div class="bt-btn" id="BottomNewLine2222" onclick="H5Method.JUMPUrl(&#39;/df39-1.html?renew_address=&#39;+H5Method.GUV(&#39;renew_address&#39;));">
		<font id="_df3_title" style="">新建收货地址</font>
	</div>
<script src="./js/config.js"></script>
<script src="./js/jquery-1.7.2.min.js" type="text/javascript"></script>
<!-- <script src="./js/wewing.token.js"></script>
<script src="./js/wewing.init.js"></script> -->
<script language="javascript">
GetUserLoginInfo();
</script>
<script src="./js/personal.js"></script>
<script type="text/javascript" src="./manaloca_files/api" charset="utf-8"></script><script type="text/javascript" src="./manaloca_files/getscript"></script>
<script language="javascript">
$(function(){
	H5Storage.GLV('orders_set_address')==1?(H5Storage.SLV('orders_confrim_status',1),$.trim(H5Storage.GLV('order_from_page')) != '' && $.trim(H5Storage.GLV('order_from_page')) != 'null' && $.trim(H5Storage.GLV('order_from_page')) != 'undefined' ?uri=H5Storage.GLV('order_from_page'):uri='/df4.html'):H5Storage.GLV('home_set_address')==1?uri='/df4.html':uri='/df35.html';
	$('#BackIcon').bind('click',function(){
		H5Storage.CLV('orders_confrim_status');
		H5Storage.CLV('home_set_address');
		H5Storage.CLV('orders_set_address');
		H5Storage.CLV('cart_set_address');
		H5Method.JUMPUrl(uri);							 
	});
	CRM_PI.GetMyAddressListNew();
	if(H5Storage.GLV('home_set_address_jump')==1){
		$('#myPickupPointTitle,#myPickupPointList').hide();	
	}
	if(H5Storage.GLV('home_set_address_jump')==2){
		$('#myAddressTitle,#myAddressList,#BottomNewLine2222').hide();	
		$('#myNoDataShowArea').remove();
	}
	if(H5Method.GUV('renew_address')==1){
		$('#myPickupPointTitle').hide();	
		$('#BottomNewLine2222').hide();	
		$('#myNoDataShowArea').remove();
	}
	CRM_PI.ClearAddressInfoStorage();
});
</script>

</body></html>