<include file="Index:header"/>
<style type="text/css">
	body{
		background: #e6e7e1;
	}
</style>
	<header>
		<a href="javascript:history.go(-1);" class="arrow-l"></a>
		<h2><font id="_df36_4_title" style="">系统消息</font></h2>
		<font id="CartLine"><a href="{:U('Goods/gley')}"><span class="cart-ico"><em>{$count}</em></span></a></font>
	</header>
	<div class="con-wrap">
		<div class="back-w">
        <if condition="!empty($msgs)">
			<ul class="sys-infor" id="myMessageList" scrollpagination="enabled">
                <volist name="msgs" id="msg">
                <li>{$msg.msg}</li>
                </volist>
			</ul>
        <else />
            <div class="no-content" id="myNoDataShowArea" style="">
                <p>
                <font id="_df36_4_no_message" style="">暂无消息</font>
                </p>
            </div>
            </if>
            <div class="U-login-warp" id="loading" style="display: none;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody><tr>
                	<td align="center"><span class="U-gary-color" style="font-size:1rem"><font id="_tip_add_loading" style="">正在载入…</font></span></td>
                </tr>
            </tbody></table>
        </div>
        <div class="U-login-warp" id="nomoreresults" style="display:none">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody><tr>
                	<td align="center"><span class="U-gary-color" style="font-size:1rem"><font id="_df_added_all" style="">已加载全部</font></span></td>
                </tr>
            </tbody></table>
        </div>
		</div>
	</div>
<script src="__WEBPUBLIC__/Home/js/config.js"></script>
<script src="__WEBPUBLIC__/Home/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<!-- <script src="__WEBPUBLIC__/Home/js/wewing.token.js"></script>
<script src="__WEBPUBLIC__/Home/js/wewing.init.js"></script> -->
<script src="__WEBPUBLIC__/Home/js/personal.js"></script>
<script language="javascript">
</script>
</body>
</html>