<include file="Index:header"/>
	<div class="top-bar-wrap">
		<i onclick="$(&#39;#HomeLeftNav&#39;).slideDown(&#39;slow&#39;);"></i>
		<h2><font id="_df22_0_title" style="">最近订单</font></h2>
		<font id="CartLine"><span class="cart-ico" onclick="H5Method.JUMPUrl(&#39;/df17.html&#39;);"><em>0</em></span></font>
	</div>
	<div class="ord-sch">
		<div class="sch-inner-2 fl-clr">
			<input type="text" class="pro-inp inpt-3" placeholder="您可以根据商品名称进行搜索" id="key" name="key">
			<div class="sch-btn-2" onclick="OM.GetOrdersListBySearch();"></div>
		</div>
	</div>
	<div class="con-wrap-bt" id="myOrdersList" scrollpagination="enabled">
		<div class="tecent-order-mod">
			<div class="det-dius-bd">
				<ul class="fl-clr">
					<li class="tec-tit">
						<p>订单编号：<i>160910995700001</i></p>
						<p>订单状态：<span class="mark-bl">等待付款</span></p>
					</li>
					<li class="tec-order">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" class="tb-list">
							<tbody>
								<tr>
									<td class="td-1"><span>自选沙拉大份</span><i>X1</i></td>
									<td class="td-2 mark-bl">￥48.00</td>
								</tr>
							</tbody>
						</table>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" class="tb-list tb-list-2">
							<tbody>
								<tr>
									<td class="td-1 mark-bl">共计1个商品</td>
									<td class="td-2">实付：<em class="mark-bl">￥48.00</em></td>
								</tr>
							</tbody>
						</table>
					</li>
					<li class="tec-btn fl-clr">
						<div class="order-btn-l">确认付款</div>
						<div class="order-btn-r">取消订单</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
    	<div class="no-content" id="myNoDataShowArea" style="display:none;">
            <p id="myNoDataContent">
             <font id="_non_order" style="">您尚未购买任何商品</font>
            </p>

            <div class="no-btn" onclick="H5Method.JUMPUrl(&#39;/df7.html&#39;);">
                <font id="_df17_go" style="">去逛逛</font>
            </div>
        </div>
    <div class="U-login-warp" id="loading" style="display: none;">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tbody><tr>
                <td align="center"><span class="U-gary-color" style="font-size:1rem"><font id="_tip_add_loading" style="">正在载入…</font></span></td>
            </tr>
        </tbody></table>
    </div>
    <div class="U-login-warp" id="nomoreresults" style="display:none">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tbody>
	            <tr>
	                <td align="center"><span class="U-gary-color" style="font-size:1rem"><font id="_df22_load_all" style="">已加载全部</font></span></td>
	            </tr>
        	</tbody>
        </table>
    </div>
   <include file="Index:menu"/>
<script src="__WEBPUBLIC__/Home/js/config.js"></script>
<script src="__WEBPUBLIC__/Home/js/jweixin-1.0.0.js"></script>
<script src="__WEBPUBLIC__/Home/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="__WEBPUBLIC__/Home/js/zepto.js" type="text/javascript"></script>
<script src="__WEBPUBLIC__/Home/js/touch.js" type="text/javascript"></script>
<!-- <script src="__WEBPUBLIC__/Home/js/wewing.token.js"></script>
<script src="__WEBPUBLIC__/Home/js/wewing.init.js"></script> -->
<script src="__WEBPUBLIC__/Home/js/jquery.scrollpagination.js"></script>
<script src="__WEBPUBLIC__/Home/js/cart.js"></script>
<script src="__WEBPUBLIC__/Home/js/orders.js"></script>
<script language="javascript">

</script>

</body></html>