<include file="Index:header"/>
	<div class="top-bar-wrap">
		<i onclick="$(&#39;#HomeLeftNav&#39;).slideDown(&#39;slow&#39;);"></i>
		<h2><font id="_df22_0_title" style="">最近订单</font></h2>
		<font id="CartLine"><a href="{:U('Goods/gley')}"></a><span class="cart-ico"><em>{$count}</em></span></font>
	</div>
	<if condition="!empty($ordinfo)">
	<div class="ord-sch">
		<div class="sch-inner-2 fl-clr">
			<form id="findform" action="{:U('Order/fobygood')}" method="post">
				<input type="text" class="pro-inp inpt-3" placeholder="您可以根据商品名称进行搜索" id="key" name="key">
				<div class="sch-btn-2" onclick="check()"></div>
			</form>
		</div>
	</div>
	<div class="con-wrap-bt" id="myOrdersList" scrollpagination="enabled">
		<div class="tecent-order-mod">
		<volist name="ordinfo" id="order">
			<div class="det-dius-bd">
				<ul class="fl-clr">
					<li class="tec-tit">
						<a href="{:U('Order/orderinfo')}/id/{$order.oid}">
						<p>订单编号：<i>{$order.ordname}</i></p>
						<p>订单状态：
							<span class="mark-bl">
								<if condition="$order['type'] eq 0">待付款
									<elseif condition="$order['type'] eq 1" />待发货
									<elseif condition="$order['type'] eq 2" />待收货
									<elseif condition="$order['type'] eq 3" />已完成
									<else/>售后中
								</if>
							</span>
						</p>
						</a>
					</li>
					<li class="tec-order">
						<table width="100%" cellpadding="0" cellspacing="0" border="0" class="tb-list">
							<tbody>
							<volist name="order['goods']" id="good">
								<tr>
									<td class="td-1"><span>{$good.name}</span><i>X{$good.gnum}</i></td>
									<td class="td-2 mark-bl">￥{$good.gprice}</td>
								</tr>
							</volist>
							</tbody>
						</table>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" class="tb-list tb-list-2">
							<tbody>
								<tr>
									<td class="td-1 mark-bl">共计{$order.gsnum}个商品</td>
									<td class="td-2">实付：<em class="mark-bl">￥{$order.price}</em></td>
								</tr>
							</tbody>
						</table>
					</li>
					<li class="tec-btn fl-clr">
							<if condition="$order['type'] eq 0"><div class="order-btn-l updorder" oid="{$order.oid}" type="1">确认付款
								<elseif condition="$order['type'] eq 1" /><div class="order-btn-l">催他
								<elseif condition="($order['type'] eq 2) AND ($order['delivertype'] eq 0)" /><div class="order-btn-l">联系客服
								<elseif condition="($order['type'] eq 2) AND ($order['delivertype'] eq 1)" /><div class="order-btn-l updorder" oid="{$order.oid}" type="3">确认收货
								<elseif condition="$order['type'] eq 3" /><div class="order-btn-l">评价
							</if>
						</div>
						<if condition="$order['type'] eq 0">
							<div class="order-btn-r updorder" oid="{$order.oid}" type="9">取消订单</div>
						</if>
					</li>
				</ul>
			</div>
		</volist>
		</div>
	</div>
	</if>
	<if condition="empty($ordinfo)">
    	<div class="no-content" id="myNoDataShowArea">
            <p id="myNoDataContent">
            <font id="_non_order" style="">您尚未购买任何商品</font>
            </p>
			<a href="{:U('Goods/goodlist')}">
            <div class="no-btn">
                <font id="_df17_go" style="">去逛逛</font>
            </div>
            </a>
        </div>
    </if>
    <div class="U-login-warp" id="loading" style="display: none;">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tbody><tr>
                <td align="center"><span class="U-gary-color" style="font-size:1rem"><font id="_tip_add_loading" style="">正在载入…</font></span></td>
            </tr>
        </tbody></table>
    </div>
    <div class="U-login-warp" id="nomoreresults" style="display:none">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tbody>
	            <tr>
	                <td align="center"><span class="U-gary-color" style="font-size:1rem"><font id="_df22_load_all" style="">已加载全部</font></span></td>
	            </tr>
        	</tbody>
        </table>
    </div>
   <include file="Index:menu"/>
<script src="__WEBPUBLIC__/Home/js/config.js"></script>
<script src="__WEBPUBLIC__/Home/js/jweixin-1.0.0.js"></script>
<script src="__WEBPUBLIC__/Home/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="__WEBPUBLIC__/Home/js/zepto.js" type="text/javascript"></script>
<script src="__WEBPUBLIC__/Home/js/touch.js" type="text/javascript"></script>
<!-- <script src="__WEBPUBLIC__/Home/js/wewing.token.js"></script>
<script src="__WEBPUBLIC__/Home/js/wewing.init.js"></script> -->
<script src="__WEBPUBLIC__/Home/js/jquery.scrollpagination.js"></script>
<script src="__WEBPUBLIC__/Home/js/cart.js"></script>
<script src="__WEBPUBLIC__/Home/js/orders.js"></script>
<script language="javascript">
	$(function(){
		$(".updorder[type]").on("tap",function(){
			var self = $(this);
			var id = self.attr("oid");
			var type = self.attr("type");
			var order = {"id" :id ,"type" :type};
			$.ajax({
				"url" : "{:U('Order/updorder')}",
				"type" : "post",
				"data" : {"order" :order},
				"dataType" : "json",
				"success" : function(data){
					console.log(data);
					if (data != "error") {
						//reload  当前页面
						location.reload();
					}
				}
			})
		});
});
		function check(){
			var key = $("#key").val();
			if (key && key != "") {
				$("#findform").submit();
			}else{
				alert("查询数据不能为空！");
			}
		}
</script>

</body></html>