<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="__WEBPUBLIC__/Admin/css/invalid.css" type="text/css" media="screen" />
	<script type="text/javascript" src="__WEBPUBLIC__/Admin/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<div id="main-content">
	<div class="content-box">
		<!--头部切换-->
		<div class="content-box-header">
			<h3>门店列表</h3>
			<ul class="content-box-tabs">
				<li><a href="{:U('Shop/shoplist')}" class="default-tab">门店列表</a></li>
				<li><a href="{:U('Shop/addshop')}">添加门店</a></li>
			</ul>
			<div class="clear"></div>
		</div>

		<div class="content-search" style="height: 40px;margin: 10px 0 0 10px;">
			<form action="{:U('Shop/findlist')}" method="post">
				门店ID：<input type="text" name="sid" class="text-input">
				门店名称：<input type="text" name="name" class="text-input">
				<input type="submit" class="button search-btn" value="查询">
			</form>
		</div>
		
		<!--表格内容-->
		<div class="content-box-content">
			<div class="tab-content default-tab" id="tab1">
				<form action="{:U('AdminBasic/delList',array('type'=>'real','tname'=>'Shop'))}" method="post">
					<table border="1">
						<!--标题-->
						<thead>
						<tr>
							<th width="5%">
								<input class="check-all" type="checkbox" />
								ID
							</th>
							<th width="20%">门店名称</th>
							<th width="25%">地址</th>
							<th width="20%">电话</th>
							<th width="20%">营业时间</th>
							<th width="10%">操作</th>
						</tr>
						</thead>
						<!--内容-->
						<tbody>
						<if condition="empty($list)">
							<tr><td colspan="10">没有符合条件的结果</td></tr>
						</if>
						<volist name="list" id="vo">
							<tr>
								<td>
									<input type="checkbox" name="id[]" value="{$vo['id']}"/>{$vo.id}
								</td>
								<td>{$vo.name}</td>
								<td>{$vo.address}{$vo.numhouse}</td>
								<td>{$vo.tel}</td>
								<td>{$vo.working}</td>
								<td>
                                    <a href="{:U('Shop/shopedit',array('id'=>$vo['id']))}" title="编辑">
                                        <img src="__WEBPUBLIC__/Admin/images/icons/pencil.png" alt="Edit" />
                                    </a>
                                    <a href="{:U('Shop/shopdel',array('id'=>$vo['id']))}" title="删除">
                                        <img src="__WEBPUBLIC__/Admin/images/icons/cross.png" alt="Delete" />
                                    </a>
								</td>
							</tr>
						</volist>
						<!--表尾-->
						</tbody>
						<tfoot>
						<tr>
							<td colspan="20">
								<div class="bulk-actions align-left">
									<input type="submit" value="批量删除" class="button"/>
								</div>
								<div class="pagination">
									{$page}
								</div>
								<div class="clear"></div>
							</td>
						</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
